@font-face {
    font-family: "flaticon";
    src: url("./flaticon.ttf?0b7a318a4f57dee9e1b9f9ade5f8d605") format("truetype"),
url("./flaticon.woff?0b7a318a4f57dee9e1b9f9ade5f8d605") format("woff"),
url("./flaticon.woff2?0b7a318a4f57dee9e1b9f9ade5f8d605") format("woff2"),
url("./flaticon.eot?0b7a318a4f57dee9e1b9f9ade5f8d605#iefix") format("embedded-opentype"),
url("./flaticon.svg?0b7a318a4f57dee9e1b9f9ade5f8d605#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flaticon-tic-tac-toe:before {
    content: "\f101";
}
.flaticon-chatbot:before {
    content: "\f102";
}
.flaticon-close:before {
    content: "\f103";
    color: rgb(244, 98, 98);
}
.flaticon-o:before {
    content: "\f104";
    color: #6dd47e;
}
